body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  text-align: center;
}

header {
  background-color: #0077cc;
  color: white;
  padding: 20px;
}

nav ul {
  /*list-style: none;*/
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.section {
  background: white;
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.product {
  background: #e9f3ff;
  padding: 15px;
  border-radius: 10px;
  width: 180px;
  text-align: center;
}

.product img {
  width: 100%;
  height: 180px;
  border-radius: 8px;
}

button {
  background-color: #0077cc;
  color: white;
  /*border: none;*/
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #005fa3;
}

textarea {
  width: 80%;
  height: 100px;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-container {
  background: white;
  width: 320px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.form-container input {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.hidden {
  display: none;
}

footer {
  background-color: #0077cc;
  color: white;
  padding: 15px;
  font-size: 14px;
}
